{{ set(this, 'title', article.title) }}
{% set network = _Network.getNetworkData() %} 

{% set status = 'follow' %}
{% set text = 'Follow +' %}
{% if not _User.isGuset() and _User.isUserFollowing('blog', article.blog['id'])%}
    {% set status = 'unfollow' %}
    {% set text = 'Following -' %}
{% endif %}

{% set userFollowClass = 'card__avatar-follow'%}
{% if not _User.isGuset() and _User.isUserFollowing('user', article.createdBy['id'])%}
    {% set userFollowClass = 'card__avatar-unfollow' %}
{% endif %}
{% set placeholder = network.templatePath~'/static/images/placeholder/placeholder.svg' %}

{% set publisher = {height: 60, width: 600, name: network.title, logo: network.templatePath~'/static/images/themeLogo.svg'} %}
{% if network.logoMedia | length > 0 %}
    {% set publisher = publisher|merge({logo:_Media.getMediaUrl(network.logoMedia, publisher.width, publisher.height, {'crop': 'lpad'} )})%}
{% endif %}
<div class="article article--category_{{article.blog['id']}} article--category {{ article.media|length <= 0 ? 'no_image' : '' }}" itemscope itemtype="http://schema.org/NewsArticle">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{article.url}}"/>
    <meta itemprop="url" content="{{article.url}}">
    <meta itemprop="dateModified" content="{{article.updatedAt}}">
    {% if publisher.logo is not empty %}
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="{{publisher.name}}"/>
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{publisher.logo}}"/>
            <meta itemprop="width" content="{{publisher.width}}"/>
            <meta itemprop="height" content="{{publisher.height}}"/>
        </div>
    </div>
    {% endif %}
    <div class="article__banner">
        <div class="slides">
            {% for media in article.media %}
                <div class="slide lazyload-remove" itemprop="image" itemscope itemtype="https://schema.org/ImageObject" data-thumbnail="{{media.path}}" data-original="{{media.path}}" style="background-image: url({{media.path}})">
                    <meta itemprop="url" content="{{media.path}}">
                    <meta itemprop="height" content="{{media.height}}">
                    <meta itemprop="width" content="{{media.width}}">
                    {% if media.type == 'video' %} 
                        {% set mediaUrl = "" %}
                        {% if media.isSystemVideo == 'TRUE'%}
                            {% set mediaUrl = _Media.getMediaVideoUrl(media, 0, 0,{resource_type: 'video', format: 'mp4'})  %}
                        {% endif %}
                        <a href="javascript:void(0)" itemprop="video" class="video-overlay video-player" data-source="{{media.source}}" data-url="{{mediaUrl}}"  data-video-id="{{media.videoId}}" data-poster="{{media.path}}" data-caption="{{article.title | raw}}">
                            <div class="icons">
                                <div class="icon"><i class="fa fa-play"></i></div>
                            </div>
                        </a>
                    {% endif %}
                    {% if media.caption | length %}
                        <div class="slide__content">
                            <p class="slide__caption">{{media.caption | raw}}</p>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="article__header">
        <div class="article__category"><a href="{{article.blog['url']}}">{{article.label}}</a></div>
        {% if _User.isGuest() %}
            <a href="javascript:void(0)" class="article__follow forceLoginModal">Follow +</a>
        {% else %}
            <a href="javascript:void(0)" class="article__follow followArticleBtn" data-guid="{{article.blog['guid']}}" data-status="{{status}}">{{text}}</a>
        {% endif%}
        <h1 class="article__heading" itemprop="headline">{{article.title}}</h1>
        <div class="article__caption">
            {% set creatorImage = ""  %}
            {% if article.createdBy['media'] | length > 0 and article.createdBy['media']['id'] is not empty %}
                 {% set creatorImage = _Media.getMediaUrl(article.createdBy['media'], 100, 100, {crop:'thumb', radius: 'max', gravity:'face'})%}
            {% endif %}
                <div class="card__caption">
                    <a href="{{_AppHelper.getUserProfileUrl(article.createdBy['username'])}}">
                        <div class="card__avatar"{% if creatorImage is not empty %} style="background-image:url('{{creatorImage}}');"{% endif %}>
                            <div class="{{userFollowClass}}"></div>
                        </div>
                        <div class="card__author" itemprop="author">By <span itemprop="name">{{article.createdBy['displayName']}}</span></div>
                    </a>
                <div class="card__date" itemprop="datePublished">{{article.publishedDate}}</div>
                {% set readingTime = Helper.getEstimatedReadingTime(article.content)%}
                <div class="card__read-time">{{Helper.renderReadingTime(readingTime) | raw}}</div>
            </div>
        </div>
        {{this.render('partials/article/_social_sharing.twig', {article: article}) | raw }}
    </div>
    <div class="container">
        <div class="article-content-section">
            <div class="content-area" itemprop="articleBody">
                {{article.content | raw}}
            </div>
        </div>
    </div>
    {% set network = _Network.getNetworkData() %}
    {% if network.thirdPartyIntegrations['disqus'] | length > 0 and network.thirdPartyIntegrations['disqus']['shortName'] != '' %}
        {{this.render("partials/article/_disqus_comments.twig", {disqus: network.thirdPartyIntegrations['disqus'], userId: article.createdBy['id'], url:article.url, articleId: article.id}) | raw}}
    {% endif %}  
</div>
{{this.render("partials/article/_popular_articles.twig", {articleId: article.id, network: network}) | raw }}