<div class="daily-ten clearfix">
    <header class="sub-header">Following</header>
    <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#FollowingBlogs" data-toggle="tab">Blogs</a></li>
            <li><a href="#FollowingWriters" data-toggle="tab">Writers</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane fade in active" id="FollowingBlogs">
                <div class="portlet-body">
                    {% if myBlogs | length > 0 %}
                        <ul class="tabular-data-list">
                            {% for following in myBlogs %}
                                {% set btnClass = '' %}
                                {% set btnStatus = "follow" %}
                                {% if not _User.isGuest() and _User.isUserFollowing('blog', following.blog['id']) %}
                                    {% set btnClass = 'selected' %}
                                    {% set btnStatus = "unfollow" %}
                                {% endif %}
                                <li><a href="javascript:;">
                                        <span>
                                            <span class="fs16">{{following.blog['title'] | raw}}</span>
                                            <span class="email-spacer">{{following.blog['url']}}</span>
                                        </span>
                                        {% if not _Network.isNetworkClosed(networkData)%}
                                            <span>
                                                {% if not _User.isGuest() %}
                                                    <button type="button" class="like FollowUnfollowBlog {{btnClass}} hasStar" data-guid="{{following.blog['guid']}}" data-status="{{btnStatus}}">
                                                        <span aria-hidden="true"><i class="fa fa-star"></i></span>
                                                    </button>
                                                {% else %}
                                                    <button type="button" class="like forceLoginModal" aria-label="Like">
                                                        <span aria-hidden="true"><i class="fa fa-star"></i></span>
                                                    </button>
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    </a></li>
                                {% endfor %}
                            <li></li>
                        </ul>
                    {% else %}
                        <p class="no-data">User is not following any blog(s).</p>
                    {% endif %}
                </div>
            </div>

            <div class="tab-pane" id="FollowingWriters">
                <div class="portlet-body">
                    {% if myFollowings | length > 0 %}
                        <ul class="tabular-data-list">
                            {% for writer in myFollowings %}
                                {% set btnClass = '' %}
                                {% set btnStatus = "follow" %}
                                {% if not _User.isGuest() and _User.isUserFollowing('writer', writer.following['id']) %}
                                    {% set btnClass = 'selected' %}
                                    {% set btnStatus = "unfollow" %}
                                {% endif %}

                                <li><a href="{{_AppHelper.buildUrl('profile/user-profile',{name: Html.encode(writer.following['username'])})}}">
                                        {% if not _User.isGuest() %}
                                            {% if( _User.getId() != writer.following['id'])%}<!-- User cannot follow himself -->
                                                <button type="button" class="like FollowUnfollowWriter {{btnClass}} hasStar" data-guid="{{writer.following['guid']}}" data-status="{{btnStatus}}">
                                                    <span aria-hidden="true"><i class="fa fa-star"></i></span>
                                                </button>
                                            {% endif %}
                                        {% else %}
                                            <button type="button" class="like forceLoginModal" aria-label="Like">
                                                <span aria-hidden="true"><i class="fa fa-star"></i></span>
                                            </button>
                                        {% endif %}
                                        {% if writer.following['media']['path'] is defined %}
                                            <div class="img-thumbnail"><img class="img-responsive" src="{{_Media.getMediaUrl(writer.following['media'], 100, 100, {crop:'thumb', gravity:'face'})}}" alt="" ></div>
                                        {% endif %}
                                        <div class="description">
                                            <h4>{{writer.following['name'] | truncate(20)}}</h4>
                                            <p>View Profile</p>
                                        </div>
                                    </a></li>
                                {% endfor %}

                        </ul>
                    {% else %}
                        <p class="no-data">User is not following any writer(s).</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
